<nav aria-label="footer navigation" id="footernav">

  <ul class="c-footernav">
    <li class="c-footernav__item"><a class="c-footernav__link" href="/">Home</a></li>
    <li class="c-footernav__item"><a class="c-footernav__link" href="/projects/">Projects</a></li>
    <li class="c-footernav__item"><a class="c-footernav__link" href="/about/">About</a></li>
  </ul>

</nav>