<nav aria-label="legal navigation">

  <ul class="c-footernav">
    <li class="c-footernav__item"><a class="c-footernav__link" href="/assets/legal_docs/privacy-policy.pdf">Privacy policy</a></li>
    <li class="c-footernav__item"><a class="c-footernav__link" href="/assets/legal_docs/terms-of-use.pdf">Terms of use</a></li>
  </ul>

</nav>