<nav aria-label="main navigation">

  {# aller chercher toutes les entries de la section mainNav #}
  {% set allNav = craft.entries()
    .section("mainNav")
    .all() %}

  {# boucler sur les entries #}
  {% for item in allNav %}
    {% if loop.first %}<ul class="c-mainnav">{% endif %}

      {# comme tous les champs relationnels, le champs entries (qui lie vers les singles) renvoie toujours un TABLEAU d'objet (même s'il n'y a qu'une entry liée). Il nous faut aller chercher la première (et la seule) avec .one() #}
      {% set navEntry = item.navEntry.one() %}
      {# prendre l'URL de l'entry liée #}
      {% set navUrl = navEntry.url %}
      {# prendre l'ID de l'enty liée #}
      {% set navId = navEntry.id %}
      
      {# comparer l'ID de l'entry liée avec l'ID de l'entry de la single affichée par la page. Rappel: Craft nous donne une variable "entry" dès que nous sommes sur une page dont l'URL correspond au détail d'une entry. #}
      {% set currentClass = "" %}
      {% set currentAria = "" %}
      {% if navId == entry.id %}
        {% set currentClass = "is-current" %}
        {% set currentAria = "aria-current=\"page\"" %}
      {% endif %}

      <li class="c-mainnav__item">
        <a class="c-mainnav__link {{ currentClass }}" {{ currentAria|raw }} href="{{ navUrl }}">{{ item.navLabel }}</a>
      </li>

    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

</nav>