<div class="c-mobilemenu  js-mobilemenu">
  <div class="c-mobilemenu__actions">
    <button class="c-mobilemenu__close  js-menutrigger">Close</button>
  </div>
  <div class="c-mobilemenu__body">

    <nav class="navigation menu">

      {# voir .templates/_includes/mainnav.twig #}
      {% set allNav = craft.entries()
        .section("mainNav")
        .all() %}

      {% for item in allNav %}
        {% if loop.first %}<ul class="c-mobilenav">{% endif %}

          {% set navEntry = item.navEntry.one() %}
          {% set navUrl = navEntry.url %}
          {% set navId = navEntry.id %}

          {% set currentClass = "" %}
          {% set currentAria = "" %}
          {% if navId == entry.id %}
            {% set currentClass = "is-current" %}
            {% set currentAria = "aria-current=\"page\"" %}
          {% endif %}

          <li class="c-mobilenav__item">
            <a class="c-mobilenav__link {{ currentClass }}" {{ currentAria|raw }} href="{{ navUrl }}">{{ item.navLabel }}</a>
          </li>

        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

    </nav>

  </div>
</div>