<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zodiak Agency - About us</title>
  <meta name="description" content="Meet out team. Discover our values.">

  <link rel="preload" href="/assets/fonts/inter-variable.woff2" as="font" type="font/woff2" crossorigin>

  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="/assets/img/metaimg.jpg">
  <meta property="og:site_name" content="">

  <link rel="stylesheet" href="/assets/css/main.css">
  <script defer type="module" src="/assets/js/main.bundle.js"></script>
</head>
<body>
  {# inclure le code contenu dans le fichier #}
  {% include "_includes/header.twig" %} 
  <main>
    {# block dont le contenu va être remplacé par le contenu du même block dans le template enfant #}
    {% block main %}{% endblock %}
  </main>
  {# inclure le code contenu dans le fichier #}
  {% include "_includes/footer.twig" %}  
</body>
</html>